{% extends "template.html" %}
{% block body %}
<h1>Mech vs Quartz</h1>
<h2 class="h2">First we need to know the difference between 2 basic type of watches:</h2>
<div class="card-deck space">
    <a href="{{ url_for('guide') }}">
        <div class="card">
            <image src="{{ url_for('static', filename='/pics/RSLGT003G.png')}}"></image>
        </div>
        <p class="center margin-text"> Mechanical</p>
    </a>
    <a href="{{ url_for('guide') }}">
        <div class="card">
            <image src="{{ url_for('static', filename='/pics/GA-2100-1A1_Seq01.avif')}}"></image>
        </div>
        <p class="center margin-text"> Quartz</p>
    </a>
</div>
{% endblock %}