{% extends "template.html" %}
{% block title %}
    Creater Info
{% endblock %}

{% block body %}
    <h1><p> abhitruechamp</p></h1>
    <div class="flexbox-info">
        <div class="flexitem card">
            <p>Name: Abhinav Pant</p>
            <p>College: VIT </p>
            <p>My City: Haldwani</p>
            <p> My Country: India</p>
        </div>
            <div class="card">
            <p>  Hi! </p>
            <p>abhitruechamp here. When I first started this series I was really confident I would take a month to complete it.
                <p>Two years later, its amply clear how much I underestimated this course. 
                    This course has been created not to make you remember a bunch of syntax, but actually understand how it happens. Think like an computer Engineer is what this course is all about</p>
                <p> I have seen nothing this great on all of youtuber period.</p>
                <p>Hats off to David Melan and team. I have only one thing left to say to you guys now:
                </p>
            </div>
    </div>  
        <div class="card">

            <blockquote class="blockquote">
                <p>Never Gonna give you up, never gonna let you down, never gonna turn around and desert you.</p>
                <p>Never gonna let you cry never gonna say goodbye never gonna tell a lie and desert you </p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Rick Astley
                <!-- <cite title="Source Title">Source Title</cite> -->
              </figcaption>
            </div>
            
        <!-- <iframe width="560" height="315" referrerpolicy="no-referrer-when-downgrade" src="https://www.youtube.com/embed/xvFZjo5PgG0?si=3lgz3gl8gKH7yxpr&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    </div> -->
{% endblock %}