{% extends "template.html" %}
{% block title %}
    Creater Info
{% endblock %}

{% block body %}
    <h1><p> abhitruechamp</p></h1>
    <div class="flexbox-info">
        <div class="flexitem">
            <p>Name: Abhinav Pant</p>
            <p>College: VIT </p>
            <p>My City: Haldwani</p>
            <p> My Country: India</p>
        </div>
        <iframe width="560" height="315" referrerpolicy="no-referrer-when-downgrade" src="https://www.youtube.com/embed/xvFZjo5PgG0?si=3lgz3gl8gKH7yxpr&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    </div>
{% endblock %}