{% extends "template.html" %}
{% block title %}
    Watch Wishlist
{% endblock %}
{% block body %}
<!-- Make table instead of an ul -->
<ul class="list-group">
    {% for watch in watches %}
    <li class="list-group-item">{{watch["title"]}}
        <form method="get">
            <!-- always only things inside form is submitted, code in ```if method == POST``` is executed and then back -->
            <!-- make a blog about this method -->
            <input class="btn btn-primary" type="submit" name="type" value="info">
            <input class="btn btn-secondary" type="submit" name ="type" value="cart"> 
            <input type="hidden" name = "watchid" value="watch["id"]">
            <!-- submit one to cart and other to display one  -->
        </form>
    </li>
</ul>
{% endblock %}